.social-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;

}

/* heading */
.social-container h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}

.social-container span:nth-of-type(1) {
  color: var(--orange);
  font-size: 2rem;
  font-weight: bold;
}

/* slider */
.social-container .swiper{
    /* overflow: visible !important; */
    height: fit-content;
    /* height: 300px; */
}

.social-activities-slider {
  margin-top: 3rem;
  height: fit-content;
  width: 100%;
}

.social-activities-slider .swiper-slide {
  width:100%;
  max-width: 17rem;
}
.social-container img {
  width: 16rem !important;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}

